/* General */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
    text-align: center;
    background-color: var(--color-container);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease;
}

.theme-container {
    text-align: center;
    background-color: var(--color-container);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    animation: fadeIn 1s ease;
}

.theme-container h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: var(--color-texto);
}

button {
    background-color: var(--color-boton);
    color: var(--color-texto);
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: var(--color-boton-hover);
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

button:focus-visible {
    outline: 2px solid var(--color-boton-hover);
    transform: scale(1.1);
}

.resultado {
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--color-texto);
    animation: fadeInUp 0.5s ease;
}

input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid var(--color-texto);
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: var(--color-container);
    color: var(--color-texto);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: var(--color-boton);
    box-shadow: 0 0 5px var(--color-boton);
}

/* Variables de tema */
:root {
    --color-fondo: #edf2f4;
    --color-texto: #2b2d42;
    --color-boton: #28a745; /* Verde Excel */
    --color-boton-hover: #218838;
    --color-container: #ffffff;
}

.theme-oscuro {
    --color-fondo: #2b2d42;
    --color-texto: #edf2f4;
    --color-boton: #ef233c;
    --color-boton-hover: #d90429;
    --color-container: #3c404e;
}

.theme-personalizado {
    --color-fondo: #fffbe6;
    --color-texto: #373737;
    --color-boton: #ffa500;
    --color-boton-hover: #e69500;
    --color-container: #ffe4b5;
}

/* Responsividad */
@media (max-width: 768px) {
    body {
        padding: 20px;
        height: auto;
    }

    .container,
    .theme-container {
        width: 100%;
        max-width: 90%;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}
